<div class="bg">
<p id="notice"><%= notice %></p>
  <br/>
  <center>
<h1>Genres</h1>
  <div class="activity1">
    <% @genres.each do |genre| %>

    <div class="row"> 

        <h4><%= genre.name %></h4>
    <br/>
        <%= link_to 'Show', genre %> |
        <%= link_to 'Edit', edit_genre_path(genre) %> |
       <%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %>
      
</div>
<hr>
    <% end %>
  
  



</div>

<br>

<%= link_to 'New Genre', new_genre_path %>
</center>
</div>