<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @notification.user_id %>
</p>

<p>
  <strong>Creater:</strong>
  <%= @notification.creater_id %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @notification.kind %>
</p>

<p>
  <strong>Read:</strong>
  <%= @notification.read %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
