<div class="bg">   
    </br>
    </br>
<div id="user-<%= @user.id %>" class="row">
  <div class="col-lg-3">
    <%= render 'shared/user_info' %>
  </div>
  <div class="col-lg-6">
    <div id="activities">
      <% if @activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <%= render 'shared/paginate', resources: @activities %>
  </div>
  <div class="col-lg-3">
    <% if is_current_user?(@user) %>
    <div id="links" class="well">
        <h5>
          <%= fa_icon 'newspaper-o' %>
          <%= link_to 'Timeline', root_path %>
        </h5>
        <h5>
          <%= fa_icon 'book' %>
          <%= link_to 'Recommended Books', recommended_books_path %>
        </h5>
        <h5>
          <%= fa_icon 'search' %>
          <%= link_to('Find Friends', recommended_friend_path)%>
        </h5>
        <h5>
          <%= fa_icon 'times' %>
          <%= link_to 'Deactivate', deactivate_user_path(@user) %>
        </h5>
      </div>
    <% end %>
  </div>
</br></br> 
</div>
</br></br> </br></br> </br></br></br>
</div>