<div id="links" class="well">
  <h5>
    <%= fa_icon 'newspaper-o' %>
    <%= link_to 'My feeds', @user %>
  </h5>
  
  <h5>
    <%= fa_icon 'search' %>
    <%= link_to('Find Friends', recommended_friend_path)%>
  </h5>
  
  <h5>
    <%= fa_icon 'book' %>
    <%= link_to 'Recommended Books', recommended_books_path %>
  </h5>

  <% if current_user.admin? %>
  <h5>
    <%= fa_icon 'book' %>
    <%= link_to 'Books', books_path %>
  </h5>
  <h5>
    <%= fa_icon 'user'%>
    <%= link_to 'Authors', authors_path %>
  </h5>
  <h5>
    <%= fa_icon 'shopping-cart'%>
    <%= link_to 'Bookstores', bookstores_path %>
  </h5>
  <h5>
    <%= fa_icon 'bookmark'%>
    <%= link_to 'Genres', genres_path %>
  </h5>
  <% end %>
</div>