<div id="user-info" class="well">
  <div class="text-center">
    <%= render 'shared/avatar', user: @user %>
    <br>
    <h5><%= link_to @user.name, @user %></h5>
  </div>
  <div class="text-center">
    <% if !@user.genres.size ==0 %>
      <hr>
      <h5> User's Genres </h5> 
      |
      <% for genre in @user.genres %>
        <%= genre.name %>
        | 
      <% end %>
    <% end %>
  </div>
  
  <br>
 
  <div class="text-center">
    <% unless is_current_user?(@user) %>
      <%= render 'follows/form', user: @user %>
      <h6><%= 'Follows you' if current_user.followed_by?(@user) %></h6>
    <% end %>
  </div>

  <div class="text-center">
    <h5>
      <%= pluralize(@user.posts_count, 'Post') %>
      |
      <%= link_to "#{@user.followers.count} Followers" , followers_user_path(@user) %> 
      | 
      <%= link_to "#{@user.follows.count} Follows", friends_user_path(@user) %> 
    </h5>
  </div>

  <% if is_current_user?(@user) %>
    <hr>
    <h7>
      <%= fa_icon 'pencil' %>
      <%= link_to 'Edit Profile', edit_user_path(current_user) %> 
    </h7>
    <br>
    <br>
    <h7>  <%= fa_icon 'lock' %>
      <%= link_to 'Change password', edit_user_registration_path %>
    </h7>
  <% end %>
</div>