<div id="user-info" class="well">
  <div class="text-center">
    <%= render 'shared/avatar', user: @user %><br>
    <h5><%= link_to @user.name, @user %></h5>
  </div>
  
  <center>
  <h5>
    <%= fa_icon 'shield' %>
    <%= pluralize(@user.posts_count, 'post') %>  |
    <% if @user.dob.present? || @user.location.present? %> 
        
      <%= fa_icon @user.sex %>
      <%= "#{pluralize(age(@user.dob), 'year')} old" %>
        
        |   <%= fa_icon 'map-marker' %>
      <%= @user.location %>
    
  <% end %>
  </h5>



  
  <br>
  <div class="text-center">
    <% unless is_current_user?(@user) %>
      <%= render 'follows/form', user: @user %>
      <h6><%= 'Follows you' if current_user.followed_by?(@user) %></h6>
    <% end %>
  </div>

  <button type="button" class="btn btn-primary"> <a href="/users/asma/friends">Friends</a> </button>
<button type="button" class="btn btn-primary"> Books </button>
<button type="button" class="btn btn-primary"> <a href="/users/asma/followers">Followers</a> </button></center>
</div>