<!--fixed--> 
<div class="bg">  
  <br/>
  
  
  <center>
    <h1>Books</h1>
    <div class="activity1">

    <div class="row">
      <div class="col-md-12">
        <div class="search">
          <%= form_tag books_path, :method => 'get' do%>
          <%= text_field_tag :search, params[:search], class: "form-control"%>
          <div class="btn btn-block">
            <%= submit_tag "Search"%>
          </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  <% if current_user.admin? %>
  <div class="btn btn-block">
    <%= link_to 'Add new Book', new_book_path %>
  </div>
  <% end %>
    
    <% @books.each do |book| %>
    <div class="activity1">

      <div class="row">
        <div class="col-md-6">
          <tr>
            <div class="bookinfo">
              <td> <h5>ISBN:</h5> <%= book.isbn %></td>
              <br/><br/>
              <td> <h5>Title:</h5><%= book.title %></td>
              <br/><br/>
              <td><h5>Genre:</h5><%= book.genre.name %></td>
              <br/><br/>
            </div>
          </tr>
        </div>
        <div class="col-md-6">
          <td>

            <div class="bookimg">

            <%= link_to book_path(book.id) do %>
            <%= image_tag book.bookimage, :class => "style_image" %>
            <%end%>

                <% if current_user.admin? %>
            <br/> <br/>
            <%= link_to 'Show', book %> | 
            <%= link_to 'Edit', edit_book_path(book) %> | 
                <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }%>
                 <% end %>
          </div>
          </td>
        </div>
      </div>
    </div>
    <% end %>
    <br/>

  </center>
</div>