<!--fixed-->
<div class="bg">
<p id="notice"><%= notice %></p>
<center>
  <br/>
  <div class="activity1">
  <h1>Recommended Books</h1>
  <%= link_to 'Click Here To See All Books', books_path %>
  </div>
    <% @books.each do |book| %>
      <div class="activity1">
      <div class="row">
        <div class="col-md-6">
          <tr>
            <div class="bookinfo">
              <td> <h5>ISBN:</h5> <%= book.isbn %></td>
              <br/><br/>
              <td> <h5>Title:</h5><%= book.title %></td>
              <br/><br/>
              <td><h5>Genre:</h5><%= book.genre.name %></td>
              <br/><br/>
            </div>
          </tr>
        </div>
        <div class="col-md-6">
          <td>
            <div class="bookimg">
              <%= link_to book_path(book.id) do %>
            <%= image_tag book.bookimage, :class => "style_image" %>
            <%end%>
          </div>
        </td>
      </div>
    </div>
    </div>
    <% end %>
  

</center>
<br>
</div>


