<%= form_for(bookstore) do |f| %>
  <% if bookstore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookstore.errors.count, "error") %> prohibited this bookstore from being saved:</h2>

      <ul>
      <% bookstore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>


  <div class="actions">
    <%= f.submit 'Submit',  class: 'activity1'%>
  </div>
<% end %>
