<div class="bg">  
  <br/>
    <center>

<h1>Bookstores</h1>

<%= link_to 'New Bookstore', new_bookstore_path %>

<div class="activity1">


   <% @bookstores.each do |bookstore| %>

    <div class="row"> 
        <center>
        <br/>
        <h4><%= bookstore.name %></h4>
        <br/>
        <td><%= link_to 'Show', bookstore %></td> |
        <td><%= link_to 'Edit', edit_bookstore_path(bookstore) %></td> |
        <td><%= link_to 'Destroy', bookstore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </center>

    </div>
    <hr>
      

<% end %>


  </div>
  </center>


  <br/>   
</div>

