<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bookstore.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @bookstore.location %>
</p>

<%= link_to 'Edit', edit_bookstore_path(@bookstore) %> |
<%= link_to 'Back', bookstores_path %>
