<div class="well">
  <div id="mentionable-data" data-content="<%= mentionable_user_path(current_user) %>"></div>
  <%= form_for @post, html: { class: 'post_form' } do |f| %>
    <div class="form-group">
    <h4>Reading Status</h4>
        <div class="field">
      <%= f.label :book %>


      <%= f.autocomplete_field :book_name, autocomplete_book_title_books_path, id_element: '#book_id' %>
<%= f.hidden_field :book_id, id: 'book_id' %>

    </div>

      <div class="field">
        <%= f.label :status %>
        <%= f.radio_button :status, 'Started' %>
        <%= 'Started' %><br/>
        <%= f.radio_button :status, 'Currently reading' %>
        <%= 'Currently reading' %><br/>
        <%= f.radio_button :status , 'Finished' %>
        <%='Finished'%>
      </div>
    
    <div id="post-content" contenteditable="true" class="editable form-control input-mentionable" placeholder="What's up?"></div>
    <%= f.hidden_field :content, class: 'form-control input-mentionable' %>
  </div>
  
  <div class="form-group">
    <%= f.submit 'Post',  class: 'activity1'%>
  </div>
  
  <% end %>


</div>
